{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/#source/js/js.html",
          "/#source",
          "/img/quality/1.mp4"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/grif/wooder",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1587912392767.816,
          "ctimeMs": 1587912392767.816,
          "date": "2020-04-26T15:10:05.654Z"
        },
        {
          "file": "img\\footer\\©_2016_WOODER.png",
          "mtimeMs": 1585426099286.2156,
          "ctimeMs": 1585472840315.926,
          "date": "2020-04-12T17:33:47.250Z"
        },
        {
          "file": "css/custom.css",
          "mtimeMs": 1585413323608.5718,
          "ctimeMs": 1585413323608.5718,
          "date": "2020-04-12T17:33:27.699Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1587913766325.9436,
          "ctimeMs": 1587913766325.9436,
          "date": "2020-04-26T15:10:06.225Z"
        },
        {
          "file": "fonts/proximanova-bold.eot",
          "mtimeMs": 1585425704000,
          "ctimeMs": 1585425771200.6584,
          "date": "2020-04-12T17:33:29.388Z"
        },
        {
          "file": "fonts/proximanova-bold.otf",
          "mtimeMs": 1585425629892.9365,
          "ctimeMs": 1585425629892.9365,
          "date": "2020-04-12T17:33:30.332Z"
        },
        {
          "file": "fonts/proximanova-bold.svg",
          "mtimeMs": 1585425704000,
          "ctimeMs": 1585425771207.6516,
          "date": "2020-04-12T17:33:31.299Z"
        },
        {
          "file": "fonts/proximanova-bold.ttf",
          "mtimeMs": 1585425704000,
          "ctimeMs": 1585425771190.652,
          "date": "2020-04-12T17:33:32.391Z"
        },
        {
          "file": "fonts/proximanova-bold.woff",
          "mtimeMs": 1585425704000,
          "ctimeMs": 1585425771213.6716,
          "date": "2020-04-12T17:33:33.371Z"
        },
        {
          "file": "fonts/proximanova-regular.eot",
          "mtimeMs": 1585425716000,
          "ctimeMs": 1585425812178.0696,
          "date": "2020-04-12T17:33:34.387Z"
        },
        {
          "file": "fonts/proximanova-regular.otf",
          "mtimeMs": 1585425656316.3916,
          "ctimeMs": 1585425656316.3916,
          "date": "2020-04-12T17:33:35.355Z"
        },
        {
          "file": "fonts/proximanova-regular.svg",
          "mtimeMs": 1585425716000,
          "ctimeMs": 1585425812186.072,
          "date": "2020-04-12T17:33:36.332Z"
        },
        {
          "file": "fonts/proximanova-regular.ttf",
          "mtimeMs": 1585425716000,
          "ctimeMs": 1585425812168.0713,
          "date": "2020-04-12T17:33:37.427Z"
        },
        {
          "file": "fonts/proximanova-regular.woff",
          "mtimeMs": 1585425716000,
          "ctimeMs": 1585425812194.0708,
          "date": "2020-04-12T17:33:38.355Z"
        },
        {
          "file": "img/Main-Logo.svg",
          "mtimeMs": 1585426128988.3604,
          "ctimeMs": 1585426128988.3604,
          "date": "2020-04-12T17:33:39.159Z"
        },
        {
          "file": "img/bg.jpg",
          "mtimeMs": 1578600083469.276,
          "ctimeMs": 1578600083469.276,
          "date": "2020-04-12T17:33:40.327Z"
        },
        {
          "file": "img/about-us/photo.jpg",
          "mtimeMs": 1585426204009.4148,
          "ctimeMs": 1585426204009.4148,
          "date": "2020-04-12T17:33:42.312Z"
        },
        {
          "file": "img/decor/photo.jpg",
          "mtimeMs": 1585765575908.0776,
          "ctimeMs": 1585765575908.0776,
          "date": "2020-04-12T17:33:43.467Z"
        },
        {
          "file": "img/footer/footer-bg.jpg",
          "mtimeMs": 1585472837995.2434,
          "ctimeMs": 1585472839104.7803,
          "date": "2020-04-12T17:33:44.403Z"
        },
        {
          "file": "img/footer/footer_bg.png",
          "mtimeMs": 1585426085316.4824,
          "ctimeMs": 1585472840371.9312,
          "date": "2020-04-12T17:33:45.527Z"
        },
        {
          "file": "img/footer/logo.svg",
          "mtimeMs": 1585426152998.315,
          "ctimeMs": 1585426152998.315,
          "date": "2020-04-12T17:33:46.371Z"
        },
        {
          "file": "img/furniture/photo.jpg",
          "mtimeMs": 1585931104385.3298,
          "ctimeMs": 1585931104385.3298,
          "date": "2020-04-12T17:33:49.762Z"
        },
        {
          "file": "img/header/arow-down.svg",
          "mtimeMs": 1585426329694.9514,
          "ctimeMs": 1585426575440.7825,
          "date": "2020-04-12T17:33:50.663Z"
        },
        {
          "file": "img/header/info.png",
          "mtimeMs": 1585426344081.298,
          "ctimeMs": 1585426575434.778,
          "date": "2020-04-12T17:33:51.605Z"
        },
        {
          "file": "img/icon/arow.svg",
          "mtimeMs": 1585426229447.5835,
          "ctimeMs": 1585908447369.3086,
          "date": "2020-04-12T17:33:52.512Z"
        },
        {
          "file": "img/main-screen/share-icon.png",
          "mtimeMs": 1585426306200.0227,
          "ctimeMs": 1585426306200.0227,
          "date": "2020-04-12T17:33:54.723Z"
        },
        {
          "file": "img/quality/01.jpg",
          "mtimeMs": 1586710540582.2798,
          "ctimeMs": 1586710540582.2798,
          "date": "2020-04-12T17:33:55.695Z"
        },
        {
          "file": "img/quality/02.jpg",
          "mtimeMs": 1586710540785.2957,
          "ctimeMs": 1586710540785.2957,
          "date": "2020-04-12T17:33:56.695Z"
        },
        {
          "file": "img/quality/03.jpg",
          "mtimeMs": 1586710540920.3032,
          "ctimeMs": 1586710540920.3032,
          "date": "2020-04-12T17:33:57.687Z"
        },
        {
          "file": "img/quality/play.png",
          "mtimeMs": 1586710558365.706,
          "ctimeMs": 1586710558365.706,
          "date": "2020-04-12T17:33:58.548Z"
        },
        {
          "file": "js/main.js",
          "mtimeMs": 1587892226013.603,
          "ctimeMs": 1587892226013.603,
          "date": "2020-04-26T09:13:25.197Z"
        },
        {
          "file": "img/main-screen/01.jpg",
          "mtimeMs": 1587057981061.971,
          "ctimeMs": 1587057981061.971,
          "date": "2020-04-17T08:21:08.257Z"
        },
        {
          "file": "img/main-screen/arrow.svg",
          "mtimeMs": 1587299925666.3018,
          "ctimeMs": 1587299925666.3018,
          "date": "2020-04-23T18:20:55.849Z"
        },
        {
          "file": "img/main-screen/mouse.png",
          "mtimeMs": 1587058027029.1758,
          "ctimeMs": 1587058027029.1758,
          "date": "2020-04-17T08:21:11.480Z"
        },
        {
          "file": "img/slider/01.jpg",
          "mtimeMs": 1587059106821.0044,
          "ctimeMs": 1587059106826.0042,
          "date": "2020-04-17T08:21:12.717Z"
        },
        {
          "file": "img/slider/02.jpg",
          "mtimeMs": 1587058259555.9077,
          "ctimeMs": 1587058259555.9077,
          "date": "2020-04-17T08:21:13.998Z"
        },
        {
          "file": "img/slider/03.jpg",
          "mtimeMs": 1587058275109.3762,
          "ctimeMs": 1587058275109.3762,
          "date": "2020-04-17T08:21:15.365Z"
        },
        {
          "file": "img/slider/04.jpg",
          "mtimeMs": 1587058301799.6848,
          "ctimeMs": 1587058301799.6848,
          "date": "2020-04-17T08:21:16.769Z"
        },
        {
          "file": "img/video-block/bg-video.jpg",
          "mtimeMs": 1586762624606.3757,
          "ctimeMs": 1586762708410.0542,
          "date": "2020-04-17T08:21:18.327Z"
        },
        {
          "file": "img/video-block/play-big.png",
          "mtimeMs": 1586762675358.2026,
          "ctimeMs": 1586762708385.0405,
          "date": "2020-04-17T08:21:19.374Z"
        },
        {
          "file": "img/video-block/play-icon.png",
          "mtimeMs": 1586762644997.2117,
          "ctimeMs": 1586762708295.1458,
          "date": "2020-04-17T08:21:20.638Z"
        },
        {
          "file": "js/jquery-3.4.1.slim.min.js",
          "mtimeMs": 1586782834634.6592,
          "ctimeMs": 1586782834634.6592,
          "date": "2020-04-17T08:21:22.373Z"
        },
        {
          "file": "js/vendors.js",
          "mtimeMs": 1587059841234.9875,
          "ctimeMs": 1587059841234.9875,
          "date": "2020-04-17T08:21:24.922Z"
        },
        {
          "file": "img/main-screen/arow-white.svg",
          "mtimeMs": 1587322793726.8765,
          "ctimeMs": 1587322793726.8765,
          "date": "2020-04-23T18:20:54.745Z"
        },
        {
          "file": "img/icon/fb.png",
          "mtimeMs": 1587832730360.6653,
          "ctimeMs": 1587833014181.7969,
          "date": "2020-04-25T16:48:44.085Z"
        },
        {
          "file": "img/icon/gmail.png",
          "mtimeMs": 1587832783946.6414,
          "ctimeMs": 1587832966473.1619,
          "date": "2020-04-26T09:05:27.044Z"
        },
        {
          "file": "img/icon/twitter.svg",
          "mtimeMs": 1587832855494.1904,
          "ctimeMs": 1587832855494.1904,
          "date": "2020-04-26T09:05:27.590Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "../css"
            },
            {
              "segment": "sass",
              "replaceWith": "../css"
            }
          ],
          "relativePath": "../../css"
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../../js",
          "suffix": "-dist",
          "alwaysSuffix": false,
          "segments": [
            {
              "segment": ".js",
              "replaceWith": "../../js"
            }
          ]
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "kit",
              "replaceWith": "../.html"
            }
          ],
          "relativePath": "../../"
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "#source/js/main.js",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "#source/js/vendors.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": true
            }
          },
          "autoCompile": true
        }
      },
      {
        "file": "#source/kit/footer.kit",
        "config": {
          "autoCompile": false
        }
      },
      {
        "file": "#source/kit/header.kit",
        "config": {
          "autoCompile": false
        }
      },
      {
        "file": "#source/scss/footer.scss",
        "config": {
          "autoCompile": false
        }
      }
    ]
  }
}
